		<!-- Favicon -->
		<link rel="shortcut icon" href="#">

		<script type="text/javascript" charset="utf-8" src="js/jquery.leanModal.min.js"></script>
	</head>

	<body>

		<!-- Header  Starts -->

		<header>
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4"> 
						<!-- Logo -->
						<div class="logo">
							<h1><a href="#"> <i class="fa fa-cloud"></i> <font size="8" color="white">ksl</font></a></h1>
						</div>
					</div>
					<div class="col-md-8 col-sm-8">
						<!-- Navigation -->
						<div class="navi">
							<!-- Menu --> 
							<div id="ddtopmenubar" class="mattblackmenu">
								<!-- UnorderedList -->
								<ul>
									<!-- List -->
									<li><a href="/">Home</a></li>
									<li><a href="/word/upload">Upload</a></li>
									<li><li><a href="#logInModal" role="button" data-toggle="modal">Sign In</a></li></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- Dropdown NavBar -->
					<div class="navis"></div>
				</div>
			</div>
		</header>

		<!-- Header Ends -->

		<!-- Revolution Slider Starts -->

		<!-- Full Width Banner Container -->

		<div class="banner-container">
			<!-- Banner -->
			<div class="banner">
				<ul>					
					<!-- Slide One -->

					<li data-transition="slotzoom-horizontal" data-slotamount="1">
						<!-- Image -->
						<img src="img/rs-slider/transparent.png" style="background-color:#f75353" alt="" class="img-responsive" />

						<!-- Heading for Slide One -->
						<div class="caption tp-caption large_bold_white sfr " 
							data-x="center"
							data-y="70" 
							data-speed="500" 
							data-start="2000"
							data-easing="easeOutSine">
								ksl
						</div>

						<!-- Paragraph for Slide One -->
						<div class="caption tp-caption small_light_white sfl text-center"
							data-x="center" 
							data-y="150" 
							data-speed="500"
							data-start="2700"
							data-easing="easeOutSine">
								Kenyan Sign Language Dictionary <br /> Peace Corps
						</div>

						<!-- Search -->
						<div class="caption sfb text-center"
							data-x="center" 
							data-y="250"
							data-speed="500" 
							data-start="3400"
							data-easing="easeOutSine"
							style="min-width: 750px">
							<form  id="searchbutton" class="navbar-form navbar-left" action="/word/search" method="get">
							    <div class="form-group">
							        <input type="text" name="term" id="query" class="form-control" placeholder="Look up a word">
							    </div>
							    <button type="submit" id="search" class="btn btn-default">Search
							   	</button>
							</form>
						</div>
							Af
						<div>

						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Revolution Slider Ends -->

		<!-- Footer Starts-->

		<footer class="text-center">
			<!-- Container -->
			<div class="container">
				<!-- Footer Content -->
				<div class="footer-content">
					<p>Copyright 2013 &copy; - <a href="#">Company name</a>
				</div>
			</div>
		</footer>

		<!-- Footer Ends -->

		<!-- Scroll To Top -->
			<span class="top"><a href="#"> <i class="fa fa-chevron-up"></i> </a></span>